button {
    -webkit-appearance: none;
    background: none;
    border: none;
    padding: 0;
}

.icon-picker-modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(#2478be, 0);
    visibility: hidden;

    transition: background-color .3s ease-out, visibility .3s ease-out;

    &.is-visible {
        background-color: rgba(#444545, .6);
        visibility: visible;

        .icon-picker-modal__dialog {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
    }

    &__dialog {
        display: flex;
        flex-direction: column;

        position: absolute;
        left: 50%;
        top: 50%;

        z-index: 1;

        height: 440px;
        width: 376px;

        opacity: 0;
        transform: translate(-50%, -55%);

        transition: transform .3s ease-in-out, opacity .3s ease;

        padding: 24px;

        background-color: #FFF;

        border-radius: 16px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            margin-bottom: 0;
            font-size: 24px;
        }

        .icon-picker-modal--close {
            margin-left: auto;
        }
    }

    &__search {
        background-color: #f6f9fd;
        border-color: #f4f7f9;

        padding: 10px 16px;

        width: 100%;

        margin: 32px 0 24px 0;

        &:focus {
            border-color: #0983fd;
            box-shadow: 0 0 0 0.25rem rgba(#0983fd, 25%);
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: max-content;
        grid-gap: 8px;

        overflow-y: scroll;

        .icon-target {
            display: flex;
            align-items: center;
            justify-content: center;

            border: 1px solid #ced4da;
            border-radius: .25rem;

            background-color: transparent;

            height: 40px;
            width: 40px;

            transition: background-color .3s ease, border-color .3s ease;

            &:hover, &.is-selected {
                color: #FFF;

                background-color: #0983fd;
                border-color: #0983fd;
            }

            i {
                font-size: 24px;
            }
        }
    }

    &__footer {
        margin-top: auto;
        padding-top: 16px;

        align-self: flex-end;
    }
}

