.icon-picker-modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    z-index: 99;

    background-color: rgba($modal-overlay-background, 0);
    visibility: hidden;

    transition: background-color .3s ease-out, visibility .3s ease-out;

    &.is-visible {
        background-color: rgba($modal-overlay-background, .6);
        visibility: visible;

        .icon-picker-modal__dialog {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
    }

    &__dialog {
        display: flex;
        flex-direction: column;

        position: absolute;
        left: 50%;
        top: 50%;

        z-index: 1;

        height: 440px;
        min-width: 380px;

        opacity: 0;
        transform: translate(-50%, -55%);

        transition: transform .3s ease-in-out, opacity .3s ease;

        padding: 24px;

        background-color: $modal-dialog-background;

        border-radius: 16px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            margin-block-start: 0;
            margin-block-end: 0;

            font-size: 24px;
        }

        .icon-picker-modal--close {
            margin-left: auto;

            -webkit-appearance: none;
            background: none;
            border: none;
            padding: 0;
        }
    }

    &__search {
        margin: 32px 0 24px 0;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat($columns-number, 40px);
        grid-template-rows: max-content;
        grid-gap: $grid-gap;

        overflow-y: scroll;

        .is-empty {
            text-align: center;
            grid-column: 1 / -1;
        }

        .icon-element {
            display: flex;
            align-items: center;
            justify-content: center;

            border: 1px solid $icon-element-border;
            border-radius: $icon-element-border-radius;

            background-color: transparent;

            height: 40px;
            width: 40px;

            cursor: pointer;

            transition: background-color .3s ease, border-color .3s ease;

            i, svg {
                font-size: 24px;
                color: $icon-element-color;
            }

            &:hover {
                background-color: $icon-element-background-hover;
                border-color: $icon-element-background-hover;

                i, svg {
                    color: $icon-element-color-hover;
                }
            }

            &.is-selected {
                background-color: $icon-element-background-selected;
                border-color: $icon-element-background-selected;

                i, svg {
                    color: $icon-element-color-selected;
                }
            }
        }
    }

    &__footer {
        margin-top: auto;
        padding-top: 24px;

        align-self: flex-end;
    }
}

